; Various tips and tricks borrowed, from, amongst others:
;   https://github.com/sjl/dotfiles
;   https://github.com/NilsHaldenwang/dotfiles
;   https://github.com/ColinHebert/dotfiles
;   http://blog.apiaxle.com/post/handy-git-tips-to-stop-you-getting-fired/
;   http://stackoverflow.com/questions/4611512/is-there-a-way-to-make-git-pull-automatically-update-submodules
;   http://mkoby.com/2011/05/02/using-git-submodules/
;   http://stackoverflow.com/questions/12255028/how-to-show-git-colors-on-zsh

[user]
    name = Nick Morrott
    email = knowledgejunkie@gmail.com

[core]
    editor = vim
    pager = less
    symlinks = false
    whitespace = trailing-space,space-before-tab
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes

[alias]
    st = status
    ci = commit
    cm = commit -m
    co = checkout
    sub = submodule
    a = add
    aa = add --all
    remove = rm

    stage = add
    unstage = reset HEAD
    amend = commit --amend
    uncommit = reset --soft HEAD^
    unstash = stash pop
    discard = checkout --
    discard-merge = reset --hard HEAD

    branches = branch -a
    remotes = remote -v
    tags = tag -l

    cloneall = clone --recursive

    pull = pull --ff-only

    ; If pulling down a submodule shows new commits, you'll probably want to
    ; update (and push) the pointer stored in the superproject to the latest
    ; commit with something like 'git commit -am "Update submodules"; git push'
    ;
    ; 'git submodule update --init --recursive' will update any configured
    ; submodules to the commit ref stored in the superproject, which may not
    ; be the latest commit available, hence the need for the 'git pullall' alias
    pullall = "!f(){ git pull "$@" && git submodule update --init && git submodule foreach git pull origin master; }; f"

    pull-upstream = pull --no-commit --startegy=recursive -X ours
    ; lo = pull origin

    po = push origin

    fo = fetch origin
    fu = fetch upstream

    up = merge --ff-only
    join = merge --no-ff

    id = rev-parse
    root = rev-parse --show-toplevel
    currentbranch = rev-parse --abbrev-ref HEAD

    delete-local-branch = branch -D
    delete-remote-branch = push origin --delete
    delete-local-reference-to-remote-branch = branch -rd

    last = diff HEAD^
    pending = diff --cached

    history = log --all --graph      --date=short --pretty=format:'%Cred%h%Creset - %Cgreen%cd%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset'
    ack     = log --all --topo-order --date=short --pretty=format:'%Cred%h%Creset - %Cgreen%cd%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --full-history -S

    l   = log --all -20 --topo-order --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset'
    ll  = log --all     --topo-order --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset'
    gl  = log --all -20 --graph      --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset'
    gll = log --all     --graph      --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset'

    log-merge = !git log $(git merge-base --octopus $(git log -1 --merges --pretty=format:%P $1))..$1 --graph --pretty=oneline --abbrev-commit --boundary
    log-all   = !git log --graph --decorate --pretty=oneline --abbrev-commit --all $(git fsck --no-reflogs | grep commit | cut -d\\ -f3)

    assume   = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
    snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
    ours     = "!f() { git checkout --ours $@ && git add $@; }; f"
    theirs   = "!f() { git checkout --theirs $@ && git add $@; }; f"

    graft = cherry-pick -x

    ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
    
    zip-current-branch = !git archive --format zip --output=./$(pwd | rev | cut -d/ -f1 | rev).zip $(git currentbranch)

    wdiff = diff --color-words
    wshow = show --color-words

[diff]
    algorithm = patience

[push]
    default = current

[color]
    ui = auto
    diff = auto
;   status = auto
    branch = auto
    interactive = auto

; [color "diff"]
;     meta = yellow
;     frag = magenta
;     old  = red
;     new  = green

[color "status"]
;     header =
    added     = green
    changed   = cyan
    untracked = red
;     branch =
;     nobranch =

; [color "branch"]
;     current = yellow reverse
;     local = yellow
;     remote = green

[include]
    path = .gitconfig.user
