# Always-ignore extensions
*~
*.diff
*.err
*.log
*.orig
*.pyc
*.rej
*.sass-cache
*.sw?
*.vi

# Always ignore files
TAGS
tags
viminfo

# Specific ignores
.irssi/away.log
.irssi/config
.qt/.*.lock
.vim/.netrwhist
.vim/custom-dictionary.utf-8*
.vim/plugged/
.vim/tags/*.ctags
.vim/tmp/
.xmonad/history
.xmonad/xmonad-i386-linux
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o

# Debian packaging
.pc/
!/debian-packaging/**
!/debian/**
