! https://gist.github.com/yevgenko/1167205
! http://www.krisdavidson.org/code/.Xdefaults
! http://untroubled.be/docs/urxvt/urxvt_keys_vim.html
! https://github.com/sunaku/home

!-------------------------------------------------------------------------------
! Loading/reloading settings
!-------------------------------------------------------------------------------
! $ xrdb -load ~/.Xresources
! $ man xrdb

!-------------------------------------------------------------------------------
! Appearance
!-------------------------------------------------------------------------------

! enable colors in native X applications
#ifdef COLOR
*customization : -color
#endif

! use custom colors?
#define use_custom_colors

!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi: 96
Xft.antialias: 1
! Xft.rgba: rgb
Xft.rgba: none
Xft.hinting: 1
Xft.autohint: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------

!URxvt.termName: rxvt-unicode
URxvt.imLocale: en_GB.UTF-8
URxvt.cutchars: ",;@&*=|?()<>[]{}`'"
URxvt.pastableTabs: true

URxvt.buffered: true
URxvt.depth: 24
URxvt.geometry: 90x30
URxvt.transparent: false
URxvt.fading: 40
URxvt.urgentOnBell: true
URxvt.visualBell: true
URxvt.loginShell: true
URxvt.saveLines: 10000
URxvt.internalBorder: -1
URxvt.externalBorder: -1
URxvt.lineSpace: 0

! Fonts
URxvt.font: xft:Inconsolata for Powerline:pixelsize=18
URxvt.boldFont: xft:Inconsolata for Powerline:pixelsize=18:Bold
URxvt.italicFont: xft:Inconsolata for Powerline:pixelsize18:Italic
URxvt.bolditalicFont: xft:Inconsolata for Powerline:pixelsize=18:Bold:Italic
URxvt.allow_bold: true
URxvt.skipBuiltinGlyphs: True
!URxvt.letterSpace: -1

! Scrollbar
URxvt.scrollBar: True
URxvt.scrollBar_right : True
URxvt.scrollBar_floating : True
URxvt.scrollstyle : plain
URxvt.scrollTtyOutput : False
URxvt.scrollTtyKeypress : True
URxvt.scrollWithBuffer : True

! Unicode selection
URxvt.iso14755 : False
URxvt.iso14755_52 : False

! Perl extensions
URxvt.perl-ext-common: default,matcher,tabbed
URxvt.matcher.button: 1
URxvt.urlLauncher: firefox

! Tabs
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0

! Cursor
URxvt.cursorBlink: false
URxvt.cursorUnderline: false

! Pointer
URxvt.pointerBlank: true

! Colours
#ifdef use_custom_colors
!
! Solarized terminal color scheme
! http://github.com/altercation/solarized

! Common
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light
!#define S_base03        #fdf6e3
!#define S_base02        #eee8d5
!#define S_base01        #93a1a1
!#define S_base00        #839496
!#define S_base0         #657b83
!#define S_base1         #586e75
!#define S_base2         #073642
!#define S_base3         #002b36

! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

URxvt*background:              S_base03
!URxvt*background:              Black
URxvt*foreground:              S_base0
!URxvt*foreground:              White
URxvt*cursorColor:             S_base1
!URxvt*cursorColor:             #657b83
URxvt*fading:                  40
URxvt*fadeColor:               S_base03
URxvt*pointerColorBackground:  S_base01
URxvt*pointerColorForeground:  S_base1

URxvt*color0:                  S_base02
URxvt*color1:                  S_red
URxvt*color2:                  S_green
URxvt*color3:                  S_yellow
URxvt*color4:                  S_blue
URxvt*color5:                  S_magenta
URxvt*color6:                  S_cyan
URxvt*color7:                  S_base2
URxvt*color9:                  S_orange
URxvt*color8:                  S_base03
URxvt*color10:                 S_base01
URxvt*color11:                 S_base00
URxvt*color12:                 S_base0
URxvt*color13:                 S_violet
URxvt*color14:                 S_base1
URxvt*color15:                 S_base3

#else

URxvt*foreground: White
URxvt*background: Black
URxvt*cursorColor: #657b83

#endif

! Escape sequences
!   emulate XTerm for proper recognition of key combinations in Vim
!URxvt.keysym.Up : \033[A !breaks arrow keys in Vim
!URxvt.keysym.Down : \033[B !breaks arrow keys in Vim
!URxvt.keysym.Right : \033[C !breaks arrow keys in Vim
!URxvt.keysym.Left : \033[D !breaks arrow keys in Vim
!URxvt.keysym.Page_Up : \033[5~ !breaks scrolling in URxvt
!URxvt.keysym.Page_Down : \033[6~ !breaks scrolling in URxvt
!URxvt.keysym.Home : \033[H !breaks navigation in Vim
!URxvt.keysym.End : \033[F !breaks navigation in Vim
!URxvt.keysym.S-Up : \033[1;2A
!URxvt.keysym.S-Down : \033[1;2B
!URxvt.keysym.S-Right : \033[1;2C
!URxvt.keysym.S-Left : \033[1;2D
!URxvt.keysym.S-Page_Up : \033[5$
!URxvt.keysym.S-Page_Down : \033[6$
URxvt.keysym.S-Home : \033[1;2H
URxvt.keysym.S-End : \033[1;2F
URxvt.keysym.M-Up : \033[1;3A
URxvt.keysym.M-Down : \033[1;3B
URxvt.keysym.M-Right : \033[1;3C
URxvt.keysym.M-Left : \033[1;3D
URxvt.keysym.M-Page_Up : \033[5;3~
URxvt.keysym.M-Prior : \033[5;3~
URxvt.keysym.M-Page_Down : \033[6;3~
URxvt.keysym.M-Next : \033[6;3~
URxvt.keysym.M-Home : \033[1;3H
URxvt.keysym.M-End : \033[1;3F
URxvt.keysym.M-S-Up : \033[1;4A
URxvt.keysym.M-S-Down : \033[1;4B
URxvt.keysym.M-S-Right : \033[1;4C
URxvt.keysym.M-S-Left : \033[1;4D
!URxvt.keysym.M-S-Page_Up : captured by terminal for scrolling
!URxvt.keysym.M-S-Page_Down : captured by terminal for scrolling
URxvt.keysym.M-S-Home : \033[1;4H
URxvt.keysym.M-S-End : \033[1;4F
URxvt.keysym.C-Up : \033[1;5A
URxvt.keysym.C-Down : \033[1;5B
URxvt.keysym.C-Right : \033[1;5C
URxvt.keysym.C-Left : \033[1;5D
URxvt.keysym.C-Page_Up : \033[5;5~
URxvt.keysym.C-Prior : \033[5;5~
URxvt.keysym.C-Page_Down : \033[6;5~
URxvt.keysym.C-Next : \033[6;5~
URxvt.keysym.C-Home : \033[1;5H
URxvt.keysym.C-End : \033[1;5F
URxvt.keysym.C-S-Up : \033[1;6A
URxvt.keysym.C-S-Down : \033[1;6B
URxvt.keysym.C-S-Right : \033[1;6C
URxvt.keysym.C-S-Left : \033[1;6D
!URxvt.keysym.C-S-Page_Up : \033[5;5~
!URxvt.keysym.C-S-Page_Down : \033[6;5~
URxvt.keysym.C-S-Home : \033[1;6H
URxvt.keysym.C-S-End : \033[1;6F
URxvt.keysym.M-C-Up : \033[1;7A
URxvt.keysym.M-C-Down : \033[1;7B
URxvt.keysym.M-C-Right : \033[1;7C
URxvt.keysym.M-C-Left : \033[1;7D
URxvt.keysym.M-C-Page_Up : \033[5;7~
URxvt.keysym.M-C-Page_Down : \033[6;7~
URxvt.keysym.M-C-Home : \033[1;7H
URxvt.keysym.M-C-End : \033[1;7F
URxvt.keysym.M-C-S-Up : \033[1;8A
URxvt.keysym.M-C-S-Down : \033[1;8B
URxvt.keysym.M-C-S-Right : \033[1;8C
URxvt.keysym.M-C-S-Left : \033[1;8D
!URxvt.keysym.M-C-S-Page_Up : \033[5;7~
!URxvt.keysym.M-C-S-Page_Down : \033[6;7~
URxvt.keysym.M-C-S-Home : \033[1;8H
URxvt.keysym.M-C-S-End : \033[1;8F
